body {
  margin: 1em;
  background-color: dimgrey;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 0;
}

.Sets {
  margin: 1em;
  border-bottom: 3px;
  border-top: 3px;
  border-style: ridge;
  padding: 1em;
}

h1 {
  color:lawngreen
}

button {
  width: 200px;
  height: 50px;
  font-size: xx-large;
  border-radius: 50px;
}

button:hover {
  background-color: skyblue;
  transition: 0.5s;
  border-color: white;
}

.form-submit {
  height: 25px;
  font-size: large;
  width: 100px;
}

.form-input {
  height: 25px;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.form-select {
  height: 31px;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
}